body,
html {
    background: #ffffff;
    font-family: SF Pro Display;
    font-size: 14px;
    color: #333;
    letter-spacing: -0.3px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@font-face {
    font-family: SF Pro Display;
    font-weight: 400;
    src: url(SF-Pro-Display-Light.otf);
}

a, a:hover {
    color: #333;
    text-decoration: none;
    font-weight: 400;
    transition-duration: .2s;
}

img {
    max-width: 100%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8, 0.8);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.everything {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: .2s fadeIn;
}

.content {
    position: absolute;
    width: 305px;
    top: 50%;
    left: calc(50% - 150px);
    transform: translateY( -50%);
    margin: 24px 0;
}

.filipbaotic {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, .4) url(logo.jpg);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    box-shadow: 0px 0px 24px 10px rgba(0, 0, 0, .05);
    border-radius: 5px;
    margin-bottom: -80px;
}

.gits {
    position: relative;
    top: 0px;
    left: 70px;
    width: 235px;
    overflow: hidden;
    background: rgba(255, 255, 255, .4);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    box-shadow: 0px 0px 24px 10px rgba(0, 0, 0, .05);
    border-radius: 5px;
    transition-duration: .2s;
}

.gits div {
    display: flex;
    justify-content: space-between;
    padding: 12px 14px;
    border-top: 1px solid rgba(0, 0, 0, .2);
    transition-duration: .2s;
}

.gits div:hover {
    background: rgba(0, 0, 0, .03);
    transition-duration: .2s;
}

.gits div:first-child {
    border-top: 1px solid transparent;
}

.gits name {
    font-weight: 600;
}

.gits a {
    font-size: 13px;
    display: inline-block;
    margin: 0 3px;
}
