body,
html {
    background: #ffffff;
    font-family: SF Pro Display;
    font-size: 14px;
    color: #333;
    letter-spacing: -0.3px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@font-face {
    font-family: SF Pro Display;
    font-weight: 400;
    src: url(SF-Pro-Display-Light.otf);
}

a,
a:hover {
    color: #333;
    text-decoration: none;
    font-weight: 400;
    transition-duration: .2s;
}

img {
    max-width: 100%;
}

#particles {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    animation: 2s particle;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8, 0.8);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes particle {
    0%,
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.everything {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: .5s fadeIn;
}

.content {
    position: absolute;
    width: 180px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.filipbaotic {
    position: relative;
    display: inline-block;
    width: 180px;
    min-height: 180px;
    background: #fff url(images/bg2.jpg);
    background-size: 220%;
    background-position: 53% 37%;
    overflow: hidden!important;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, .1);
    border-radius: 7.5px;
    margin-bottom: 20px;
}

.social {
    position: relative;
    margin-top: 180px;
    width: 180px;
    height: 40px;
    background: #ffffff;
    text-align: center;
}

.icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: auto 16px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .7;
    transition-duration: .2s;
}

.icon:hover {
    opacity: 1;
    transition-duration: .2s;
}

.fb {
    background-image: url(images/facebook.png);
}

.ig {
    background-image: url(images/instagram.png);
}

.tw {
    background-image: url(images/twitter.png);
}

.px {
    background-image: url(images/500px.png);
}

.un {
    background-image: url(images/unsplash.png);
}

.sh {
    background-image: url(images/shutterstock.png);
}

.fr {
    background-image: url(images/freelancer.png);
}

.links {
    position: relative;
    display: inline-block;
    width: 180px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, .1);
    border-radius: 7.5px;
    transition-duration: .2s;
}

.links a {
    display: block;
    padding: 13px 15px;
    border-top: 1px solid rgba(0, 0, 0, .2);
    transition-duration: .2s;
}

.links a:hover {
    background: rgba(0, 0, 0, .03);
    transition-duration: .2s;
}

.links a:first-child {
    border-top: 1px solid transparent;
}
